%h3 ﻿Example inquiry form

%form(action='/' method='POST' id='smcForm')

  %label Technical Contact Name: 
  %input(type='text' name='tech_contact_name' title='Please enter some input (at least 2 characters)' class='required' minlength='2')

  %label Technical Contact email and/or IM: 
  %input(type='text' name='tech_contact_email' title='Please enter some input (at least 3 characters)' class='required' minlength='3')

  %label Technical Contact phone: 
  %input(type='text' name='tech_contact_phone' title='Please enter some input (at least 3 characters)' class='required' minlength='3')

  %label Name of LMS Used:
  %input{:type => "checkbox", :value => "sakai25", :name => "lms_used[]", :id => "lms_used1", :class => "required"} Sakai 2.5
  %input{:type => "checkbox", :value => "sakai26", :name => "lms_used[]", :id => "lms_used2"} Sakai 2.6
  %input{:type => "checkbox", :value => "sakai27", :name => "lms_used[]", :id => "lms_used3"} Sakai 2.7
  %input{:type => "checkbox", :value => "sakai27", :name => "lms_used[]", :id => "lms_used3"} Sakai 2.7
  %br
  %input{:type => "checkbox", :value => "moodle19", :name => "lms_used[]", :id => "lms_used4"} Moodle 1.9
  %input{:type => "checkbox", :value => "moodle20", :name => "lms_used[]", :id => "lms_used5"} Moodle 2.0
  %input{:type => "checkbox", :value => "moodle21", :name => "lms_used[]", :id => "lms_used6"} Moodle 2.1
  %input{:type => "checkbox", :value => "moodle22", :name => "lms_used[]", :id => "lms_used7"} Moodle 2.2
  %br
  %input{:type => "checkbox", :value => "canvas", :name => "lms_used[]", :id => "lms_used8"} Canvas

  %label Other: 
  %input(type='text' name='other_lms_name' title='Please enter some input (at least 3 characters)' minlength='3')

  %label Version: 
  %input(type='text' name='other_lms_version' title='Please enter some input (at least 3 characters)' minlength='3')

  %br 
  
  %label Is the LMS installed locally? 
  %input{:type => "radio", :value => "yes", :name => "lms_localhost[]", :id => "lms_localhost1", :class => "required"} Yes
  %input{:type => "radio", :value => "no", :name => "lms_localhost[]", :id => "lms_localhost2"} No
  %input{:type => "radio", :value => "idk", :name => "lms_localhost[]", :id => "lms_localhost3"} I don't know
  
  %label Is a testing environment available?
  %input{:type => "radio", :value => "yes", :name => "lms_test_env[]", :id => "test_env1", :class => "required"} Yes
  %input{:type => "radio", :value => "no", :name => "lms_test_env[]", :id => "test_env2"} No
  %input{:type => "radio", :value => "idk", :name => "lms_test_env[]", :id => "test_env3"} I don't know
  
  %br
  %br
  %input(type='button' value='Reset' name='reset' id='reset')
  %input(type='submit')
  
%div(id='result')